/*This is the affiliated CSS sheet for final.html.*/

h1, h3, h4,h6 {
	font-family: Georgia, serif;
}
p, .lead {
	font-family: Georgia, serif;
}
li {
	font-family: Georgia, serif;
	font-size: 13px;
}
.container-fluid {
	margin-top: 30px;
}
.embed {
	margin-left: 5px;
	margin-top: 30px;
	padding: 5px;
	vertical-align: center;
}	
.iframe
	text-align: center;
}
.fixed-bottom {
	margin-left: 10px;
	margin-top: 30px;
	padding: 5px;
	text-align: center;
}